@charset "utf-8";

*{margin:0px; padding:0px;}
ul,li,ol{list-style:none;}
body{
  font-family:'맑은 고딕',arial,sans-serif;
  font-size:12px;
  color:#333333;
}
a{
  color:#333333;
  text-decoration:none;
}
h5{
  display:none;
}
/* 헤더 */
header{
  width:100%;
  height:100px;
}

h1{
  width:220px; 
  height:100px;
  background-color:#222222;
}
.h_inner{
  width:1200px;
  margin:0px auto;
  position:relative;
}
nav{
  z-index:11;
  position:absolute;
  top:65px; 
  right:0px;
  width:500px;
}

.gnb{
  display:flex;
  justify-content:flex-end;
}
.gnb > li{
  width:100px;
  height:30px;
  padding:5px;
  text-align:center;
  position:relative;
  z-index:100;
}
.gnb > li > a{
  display:block;
  width:100%;
  line-height:30px;
  transition:0.6s;
  font-weight:bold;
  font-size:16px;
}

.gnb > li:hover a{
  background-color:#00c73c;
}
.gnb::after{
  content:"";
  display:block;
  width:1200px;
  height:0px;
  background-color:#00c73c;
  position:absolute;
  z-index:16;
  top:35px;
  right:0;
  opacity:0;
}
.sub{
  position:absolute;
  height:0px;
  overflow:hidden;
  opacity:0;/*부드럽게나타나게하려면 display:block이아니라투명도조절*/
  left:50%;
  transform:translateX(-50%);
  width:100%;
  z-index:100;
  transition:0.5s;
}
.gnb:hover .sub{
  height:150px;
  opacity:1;
}
.gnb:hover::after{
  height:150px;
  opacity:1;
}
.sub > li > a{
  line-height:30px;
  transition:0.6s;
  display:block;
  font-weight:bold;
}
.sub > li > a:hover{
  background-color:#ffffff;
}
/* 메인시작 */
main{
  width:1200px; 
  margin:0px auto;
  height:500px;
  background-color:aquamarine;
  display:flex;
  flex-wrap:wrap;
}
/* 슬라이드 */
.slide{
  width:100%; 
  height:300px; 
  background-color:#ffff00;
  position:relative;
  overflow:hidden;
}
.slide > ul{
  height:300%;
}
.slide > ul h2{
  position:absolute;
  z-index:5;
  color:#fff;
  font-size:30px;
  top:80%; 
  right:5%;
  /* display:none; */
  background-color:#00c73c;
  padding:8px 16px;
  border-radius:20px;
}
.slide > ul > li {
  position:relative;
  /* left:-1200px; */
}
.slide > ul > li a{
  width:100%; 
  height:300px;
  overflow:hidden;
  display:block;
}
.slide > ul >li img{
  object-fit:cover;
  width:100%;
  display:block;
}

/*  */
.notice, .gallery, .icon{
  width:400px; height:200px;
  background-color:blue;
}
/* 푸터 */
footer{
  width:100%;
  height:100px;
  background-color:#222222;
}